{{ define "main" }}

<h1 style="font-size: 26px;">In Progress</h1>
<div class="current-projects">
    {{ range where .Site.RegularPages ".Params.tags" "intersect" (slice "current") }}
        <div class="post">
            <a href="{{ .Permalink }}" title="{{ .Title }}" style="position: relative; display: inline-block; text-decoration: none;">
                {{ with .Resources.GetMatch "cover.*" }}
                    {{ with .Process "fill 980x300 Bottom" }}
                        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="" class="homepage-block-image">
                    {{ end }}
                {{ end }}
                <h1 style="position: absolute; bottom: -10px; left: 10px; margin: 0; color: white; z-index: 2;">
                    {{ .Title }}
                </h1>
            </a>
            <br />
            {{ .Summary }}..
            <a href="{{ .Permalink }}" title="more">read more</a>
        </div>
    {{ end }}
</div>
<hr />
<h1>Recent and Ongoing</h1>
<div class="posts-list">
{{ with .Site.GetPage "/" }}
    {{ range first 20 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        {{ if and (not (in .Params.tags "current")) (or (in .Params.tags "recent") (in .Params.tags "ongoing")) }}
            <div class="post">
                <p>
                    <div class="date">{{ .PublishDate.Format "2006-01-06" }}</div>
                    <h2>
                        <a href="{{ .Permalink }}" title="{{ .Title }}">
                            {{ .Title }}
                            <!--- {{ range .Params.categories }}
                                ({{ . }})
                            {{ end }}  -->
                        </a>
                    </h2>
                    {{ .Summary }}
                    <!---
                    {{ range .Params.tags }}
                        <a href="/tags/{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                    -->
                </p>
            </div>    
        {{ end }}
    {{ end }}
{{ end }}
</div>
{{ end }}